.demoParentDiv {
  max-width: 700px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 1em 0em;
}

.demoDiv {
  padding: 1.4em 15%;
}

.demoDiv .stepperSubDiv {
  margin: 1.4em;
  background: #172539;
  border-radius: 12px;
  padding: 1.4em;
  color: #63b38f;
}

.demoDiv .stepperSubDiv h1 {
  font-weight: 500;
  text-align: center;
  color: #70cea2;
}

.stepperBtn {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  background: #172539;
  color: #63b38f;
  border-radius: 12px;
  padding: 0.5em 1.4em;
  font-size: 1.2em;
  font-weight: 500;
  margin: 1.4em;
}

.cssCode {
  font-size: 1.3em;
  margin: 2.1em 0em 0.7em;
  font-family: "Recursive", sans-serif;
  text-align: left;
  color: #080f1a;
  background: #e4e4e4;
  padding: 0.2em 0.5em;
  border-radius: 6px;
  width: fit-content;
}
