@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Recursive&display=swap");

body {
  margin: 0;
  font-family: "Comfortaa", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #63b38f;
  color: #172539;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media not all and (hover: none) {
  * ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    z-index: -1;
  }

  /* Track */
  * ::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  * ::-webkit-scrollbar-thumb {
    background: #00132e;
    border-radius: 1px;
    margin: 1px;
    min-height: 40px;
  }

  /* Handle on hover */
  * ::-webkit-scrollbar-thumb:hover {
    background: #67a6ff;
  }
}
