.navbarComponent {
  box-shadow: 5px 20px 20px rgba(23, 37, 57, 0.15);
  position: sticky;
  top: 0px;
  z-index: 999;
  background: #172539;
}

.mainNavbar {
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background: #172539;
  margin: 0 auto;
}

.mainNavbar h1 {
  font-family: "Recursive", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  color: #63b38f;
}

.mainNavbar a {
  color: #63b38f;
  list-style: none;
  text-decoration: none;
  margin-left: 0.7em;
}

.rightPanel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.1em;
  color: #63b38f;
  margin-right: 0.7em;
}

.rightPanel a {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  list-style: none;
  text-decoration: none;
  color: #080f1a;
  background: #e4e4e4;
  padding: 0.5em 1.4em;
  border-radius: 50px;
}

.rightPanel .linkElem {
  cursor: pointer;
  font-weight: 600;
  color: #080f1a;
  background: #e4e4e4;
  padding: 0.5em 1.4em;
  border-radius: 50px;
}

@media only screen and (max-width: 768px) {
  .rightPanel {
    gap: 0.7em;
  }
}
