.sectionComponent {
  max-width: 700px;
  width: 100%;
  overflow: hidden;
  margin: 0.7em auto 0em;
}

.sectionTitle {
  font-size: 1.3em;
  margin: 0.7em 0.3em;
  font-family: "Recursive", sans-serif;
  text-align: left;
  color: #080f1a;
  background: #e4e4e4;
  padding: 0.2em 0.5em;
  border-radius: 6px;
  width: fit-content;
}

.sectionDiv {
  margin: 0.7em;
  text-align: left;
}
